<form action="/guardar_comparativa" method="POST">

	<!--Datos del cliente-->
	<div id="paso_1">
		<div class="jumbotron">
			
			<h1>Paso 1/4</h1>
			<h2>Introduce tus datos</h2>
			
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="text" class="form-control" name="e_mail">
			</div>
			<div class="form-group">
				<label for="codigo_postal">Código postal</label>
				<input type="text" class="form-control" name="codigo_postal">
			</div>
			<div class="form-group">
				<label for="telefono">Teléfono</label>
				<input type="text" class="form-control" name="telefono">
			</div>
			
			<div class="col-md-offset-10 col-md-2">
				<div id="siguiente_1" class="btn btn-lg btn-warning bl_der">Siguiente</div>
			</div>
			
		</div>
	</div>
	
	<!--Datos del consumo del cliente-->
	<div id="paso_2" class="oculto">
		<div class="jumbotron">
			
			<h1>Paso 2/4</h1>
			<h2>Introduce tu consumo</h2>
			
			<table class="table">
				<tr>
					<th>Nombre</th>
					<th>Cantidad</th>
					<th>Horas de uso</th>
				</tr>
				<%cont=1%>
				<%@productos.each do |producto|%>
					<tr>
						<td><%=producto.name%></td>
						<td><input id="cantidad_producto_<%=cont%>" name="cantidad_<%=cont%>" type="text"/></td>
						<td><input id="horas_producto_<%=cont%>" name="horas_uso_<%=cont%>" type="text"/></td>
					</tr>
					<%cont+=1%>
				<%end%>
			</table>
			
			<input id="numero_productos" type="hidden" value=<%=cont%>>
			
			<div class="col-md-2">
				<div id="anterior_2" class="btn btn-lg btn-warning">Anterior</div>
			</div>
			
			<div class="col-md-offset-8 col-md-2">
				<div id="siguiente_2" class="btn btn-lg btn-warning bl_der">Siguiente</div>
			</div>
			
		</div>
	</div>
	
	<!--Confirmación datos de cliente y consumo-->
	<div id="paso_3" class="oculto">
		<div class="jumbotron">
			
			<h1>Paso 3/4</h1>
			<h2>Confirmación de datos</h2>
			
			<table class="table">
				<tr>
					<th>Nombre</th>
					<th>Cantidad</th>
					<th>Horas de uso</th>
				</tr>
				<%cont=1%>
				<%@productos.each do |producto|%>
					<tr id="mostrar_producto_<%=cont%>" class="oculto">
						<td><%=producto.name%></td>
						<td><span id="mostrar_cantidad_producto_<%=cont%>"></span></td>
						<td><span id="mostrar_horas_producto_<%=cont%>"></span></td>
					</tr>
					<%cont+=1%>
				<%end%>
			</table>
			
			<div class="col-md-2">
				<div id="anterior_3" class="btn btn-lg btn-warning">Anterior</div>
			</div>
			
			<div class="col-md-offset-8 col-md-2">
				<button type="submit" class="btn btn-lg btn-success bl_der">Guardar</button>
			</div>
			
		</div>
	</div>
	
</form>
