<p id="notice"><%= notice %></p>

<p>
  <strong>Current cost:</strong>
  <%= @comparative.current_cost %>
</p>

<p>
  <strong>Integra cost:</strong>
  <%= @comparative.integra_cost %>
</p>

<p>
  <strong>Installation cost:</strong>
  <%= @comparative.installation_cost %>
</p>

<p>
  <strong>Amortization term:</strong>
  <%= @comparative.amortization_term %>
</p>

<%= link_to 'Edit', edit_comparative_path(@comparative) %> |
<%= link_to 'Back', comparatives_path %>
